- name: Write VPN hosts to /etc/hosts
  become: true
  ansible.builtin.blockinfile:
    path: /etc/hosts
    state: present
    marker: "# {mark} VPN hosts (Ansible managed)"
    block: |
      {% for item in setup_vpn_hosts | dict2items %}
      {% if current_host == item.key %}127.0.0.1{% else %}{{ item.value.ip }}{% endif %} {{ item.key }}
      {% endfor %}
