- name: Write VPN hosts to /etc/hosts
  become: true
  ansible.builtin.blockinfile:
    path: /etc/hosts
    state: present
    marker: "# {mark} VPN hosts (Ansible managed)"
    block: |
      {% for item in setup_vpn_hosts %}
      {% if current_host == item.domain_name %}127.0.0.1{% else %}{{ item.ip }}{% endif %} {{ item.domain_name }}
      {% endfor %}
