---
vpn_ip: "10.13.14.2"
home_network_address: "192.168.1.104"
ansible_host: "{{ home_network_address if in_home_network is defined and in_home_network | bool else vpn_ip }}"
ansible_ssh_common_args: "{{ '' if in_home_network is defined and in_home_network | bool else ('-o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand=\"ssh -W %h:%p -q ' + jump_host_from_internet + '\"')  }}"
wireguard_endpoint: "" # it does not have a public IP nor port
wireguard_interface: wg1
wireguard_allowed_ips: "10.13.14.0/24"
wireguard_addresses:
  - "{{ vpn_ip }}/32"
wireguard_preup:
  - sysctl -w net.ipv4.ip_forward=1
wireguard_postup:
  # allow the gateway to reach out to home server VMs
  # this is needed to deploy ansible playbooks using the gateway as a jump host
  - iptables -A FORWARD -i %i -o wg0 -j ACCEPT
  # disallow home VMs from making new connections to the gateway
  # only allow existing connections
  - iptables -A FORWARD -o %i -i wg0 -m state --state ESTABLISHED,RELATED -j ACCEPT
  - iptables -t nat -A POSTROUTING ! -o %i -j MASQUERADE
wireguard_predown:
  - iptables -D FORWARD -i %i -o wg0 -j ACCEPT
  - iptables -D FORWARD -o %i -i wg0 -m state --state ESTABLISHED,RELATED -j ACCEPT
  - iptables -t nat -D POSTROUTING ! -o %i -j MASQUERADE