- name: Lookup secrets on the control node
  ansible.builtin.set_fact:
    secrets: "{{ env_file['secrets'].values() | map('lookup', 'bitwarden.secrets.lookup') | list }}"
  changed_when: false
  delegate_to: localhost

- name: Write .env file to target host
  become: true
  ansible.builtin.copy:
    dest: "{{ host_conf_path }}/{{ env_file['relative_path'] }}"
    content: |
      {% for item in (env_file['fixed'] | default({})) | dict2items %}
      {{ item.key }}='{{ item.value }}'
      {% endfor %}
      {% for item in (env_file['vars'] | default({})) | dict2items %}
      {{ item.key }}='{{ lookup("vars", item.value) }}'
      {% endfor %}
      {% for key, secret in env_file['secrets'].keys() | zip(secrets) %}
      {{ key }}='{{ secret }}'
      {% endfor %}
    mode: "{{ env_file['mode'] }}"
