- name: Lookup secrets on the control node in one go
  ansible.builtin.set_fact:
    secrets: |
      {% for item in (env_file['secrets'] | default({})) | dict2items %}
      {{ item.key }}='{{ lookup('bitwarden.secrets.lookup', item.value) }}'
      {% endfor %}
  delegate_to: localhost

- name: Write .env file to target host
  become: true
  ansible.builtin.copy:
    dest: "{{ host_conf_path }}/{{ env_file['relative_path'] }}"
    content: |
      {% for item in (env_file['fixed'] | default({})) | dict2items %}
      {{ item.key }}='{{ item.value }}'
      {% endfor %}
      {% for item in (env_file['vars'] | default({})) | dict2items %}
      {{ item.key }}='{{ lookup("vars", item.value) }}'
      {% endfor %}
      {{ secrets }}
    mode: "{{ env_file['mode'] }}"
