## This file can be used to define dynamic routers/services/middlewares.
tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: cloudflare
        domain:
          main: {{ env "BASE_DOMAIN" }}
          sans:
            - '*.{{ env "BASE_DOMAIN" }}'
  options:
    default:
      minVersion: "VersionTLS12"
      cipherSuites:
        - "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
        - "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
        - "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384"
        - "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
        - "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305"
        - "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305"

http:
  middlewares:
    limit:
      buffering:
        maxRequestBodyBytes: 629145600 # 600 MB
    my-robots-txt:
      plugin:
        robots-txt:
          aiRobotsTxt: false
          customRules: |
            User-agent: *
            Disallow: /
          overwrite: true
    crowdsec-bouncer:
      forwardauth:
        address: http://bouncer-traefik:8080/api/v1/forwardAuth
        trustForwardHeader: true
    immich-host-rewrite:
      headers:
        customrequestheaders:
          Host: immich.home.{{ env "BASE_DOMAIN" }}
    qbittorrent-host-rewrite:
      headers:
        customrequestheaders:
          Host: qbittorrent.home.{{ env "BASE_DOMAIN" }}
          Origin: https://qbittorrent.home.{{ env "BASE_DOMAIN" }}
          Referer: https://qbittorrent.home.{{ env "BASE_DOMAIN" }}
    excalidraw-host-rewrite:
      headers:
        customrequestheaders:
          Host: excalidraw.home.{{ env "BASE_DOMAIN" }}
    audiobookshelf-host-rewrite:
      headers:
        customrequestheaders:
          Host: audiobookshelf.home.{{ env "BASE_DOMAIN" }}
    # response rewrite
    rewriteHomeResponseHeaders:
      plugin:
        rewriteHeaders:
          rewrites:
            - header: "Location"
              regex: '^https://(\w+?)\.home\.{{ env "BASE_DOMAIN" | replace "." "\\." }}(.*)$'
              replacement: 'https://${1}-home.{{ env "BASE_DOMAIN" }}${2}'
            - header: "Set-Cookie"
              regex: '^(.+?)Domain\=(\w+?)\.home\.{{ env "BASE_DOMAIN" | replace "." "\\." }}(.*)$'
              replacement: '${1}Domain=${2}-home.{{ env "BASE_DOMAIN" }}${3}'
    # request rewrite
    rewriteHomeHostHeader:
      plugin:
        htransformation:
          Rules:
            - Rule:
              Header: "Referer"
              Name: "Referer rewrite"
              Value: '^https://(.+)-home\.{{ env "BASE_DOMAIN" | replace "." "\\." }}(.*)'
              ValueReplace: 'https://$1.home.{{ env "BASE_DOMAIN" }}$2'
              Type: 'RewriteValueRule'
            - Rule:
              Header: "Origin"
              Name: "Origin rewrite"
              Value:  '^https://(.+)-home\.{{ env "BASE_DOMAIN" | replace "." "\\." }}$'
              ValueReplace: 'https://$1.home.{{ env "BASE_DOMAIN" }}'
              Type: 'RewriteValueRule'
            - Rule:
              Header: "Host"
              Name: "Host rewrite"
              Value:  '^(.+)-home\.{{ env "BASE_DOMAIN" | replace "." "\\." }}$'
              ValueReplace: '$1.home.{{ env "BASE_DOMAIN" }}'
              Type: 'RewriteValueRule'

  services:
    home:
      loadBalancer:
        servers:
          - url: "https://home-server-containers:443" # home server Wireguard peer IP

  routers:
    immich-home:
      middlewares:
        - "immich-host-rewrite@file"
      rule: 'Host(`immich.{{ env "BASE_DOMAIN" }}`)'
      service: home
      tls:
        certResolver: cloudflare
    qbittorrent-home:
      middlewares:
        - "qbittorrent-host-rewrite@file"
      service: home
      rule: 'Host(`qbittorrent.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    jellyfin-home:
      service: home
      rule: 'Host(`jellyfin.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    excalidraw:
      middlewares:
        - "excalidraw-host-rewrite@file"
      service: home
      rule: 'Host(`excalidraw.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    audiobookshelf:
      middlewares:
        - "audiobookshelf-host-rewrite@file"
      service: home
      rule: 'Host(`audiobookshelf.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    homeServices:
      middlewares:
        - "rewriteHomeHostHeader"
        - "rewriteHomeResponseHeaders"
      service: home
      rule: 'HostRegexp(`^[a-z]+-home\.{{ env "BASE_DOMAIN" | replace "." "\\." }}$`)'
      tls:
        certResolver: cloudflare
