---
- name: Deploy docker containers
  hosts: all
  vars:
    repo_path: "/home/{{ ansible_user }}/selfhosted-vps"
    secrets_mapping_file: "{{ repo_path }}/ansible/secret-mappings.yml"
    github_workdir: "{{ lookup('ansible.builtin.env', 'GITHUB_WORKSPACE') }}"
  environment:
    PATH: "~/.local/bin:{{ lookup('env', 'PATH') }}"
  tasks:
    - name: Ensure repo is in clean state
      ansible.builtin.git:
        repo: 'https://github.com/Bhambya/selfhosted-vps.git'
        dest: "{{ repo_path }}"
        version: 'main'
        update: true
        force: false

    - name: Read secret mapping
      ansible.builtin.slurp:
        src: "{{ secrets_mapping_file }}"
      register: secret_mapping_content

    - name: Parse secret mapping
      ansible.builtin.set_fact:
        secret_mapping: "{{ secret_mapping_content['content'] | b64decode | from_yaml }}"

    - name: Create docker-data directories
      ansible.builtin.file:
        path: "/var/lib/docker-data/{{ item }}"
        state: directory
        mode: "700"
      loop:
        - gradle-build-cache-node

    - name: Set env_files
      ansible.builtin.set_fact:
        env_files: "{{ secret_mapping['env_files'] | default({}) }}"

    - name: Loop over env_files
      ansible.builtin.include_role:
        name: write_env_file
      loop: "{{ env_files }}"
      loop_control:
        loop_var: env_file
    
    - name: Loop over secret_files
      ansible.builtin.include_role:
        name: write_secret_file
      loop: "{{ secret_mapping['secret_files'] | default({}) }}"
      loop_control:
        loop_var: item

    - name: Render templates
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode }}"
      notify: Restart {{ item.container }}
      loop:
        - src: "{{ github_workdir }}/docker/gradle-build-cache-node/config.yaml.j2"
          dest: /var/lib/docker-data/gradle-build-cache-node/conf/config.yaml
          container: gradle-build-cache-node
          mode: "0640"

    - name: Restart services using Docker Compose
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ repo_path }}/docker"
        state: present
        remove_orphans: true

    - name: Run Docker Command
      become: true
      command: "docker compose ps --format 'table {% raw %}{{.Names}}\t{{.RunningFor}}\t{{.Status}}'{% endraw %}"
      args:
        chdir: "{{ repo_path }}/docker"
      register: docker_output

    - name: Display Docker Output
      debug:
        var: docker_output.stdout_lines

    - name: Get cron files on remote machine
      ansible.builtin.find:
        paths: "{{ repo_path + '/crons' }}"
      register: cron_files_find_result

    - name: Write cron file
      become: true
      ansible.builtin.copy:
        dest: "/etc/cron.d/selfhosted"
        content: |
          # This file was auto-generated by ansible deployment
          # It runs all executable scripts found in {{ repo_path }}/crons
          #
          # DO NOT EDIT THIS FILE MANUALLY - Your changes will be overwritten.
          SHELL=/bin/bash
          {% for item in cron_files_find_result.files %}
          0 * * * * root {{ item.path }} || curl -X POST -F "body=Cron index {{ loop.index0 }} failed!" http://127.0.0.1:8000/notify/apprise
          {% endfor %}
        mode: "0644"

  handlers:
    - name: Restart gradle-build-cache-node
      community.docker.docker_compose_v2:
        project_src: "{{ repo_path }}/docker"
        services: gradle-build-cache-node
        state: restarted
