## This file can be used to define dynamic routers/services/middlewares.
http:
  middlewares:
    limit:
      buffering:
        maxRequestBodyBytes: 629145600 # 600 MB
    my-robots-txt:
      plugin:
        robots-txt:
          aiRobotsTxt: false
          customRules: |
            User-agent: *
            Disallow: /
          overwrite: true
    crowdsec-bouncer:
      forwardauth:
        address: http://bouncer-traefik:8080/api/v1/forwardAuth
        trustForwardHeader: true
    whoami-host-rewrite:
      headers:
        customrequestheaders:
          Host: whoami.home.{{ env "BASE_DOMAIN" }}
    immich-host-rewrite:
      headers:
        customrequestheaders:
          Host: immich.home.{{ env "BASE_DOMAIN" }}
    proxmox-host-rewrite:
      headers:
        customrequestheaders:
          Host: proxmox.home.{{ env "BASE_DOMAIN" }}
    qbittorrent-host-rewrite:
      headers:
        customrequestheaders:
          Host: qbittorrent.home.{{ env "BASE_DOMAIN" }}
          Origin: https://qbittorrent.home.{{ env "BASE_DOMAIN" }}
          Referer: https://qbittorrent.home.{{ env "BASE_DOMAIN" }}
    speedtest-host-rewrite:
      headers:
        customrequestheaders:
          Host: speedtest.home.{{ env "BASE_DOMAIN" }}
    filebrowser-host-rewrite:
      headers:
        customrequestheaders:
          Host: filebrowser.home.{{ env "BASE_DOMAIN" }}
    excalidraw-host-rewrite:
      headers:
        customrequestheaders:
          Host: excalidraw.home.{{ env "BASE_DOMAIN" }}
    audiobookshelf-host-rewrite:
      headers:
        customrequestheaders:
          Host: audiobookshelf.home.{{ env "BASE_DOMAIN" }}

  services:
    home:
      loadBalancer:
        servers:
          - url: "https://10.13.14.1:443" # home server Wireguard peer IP

  routers:
    whoami-home:
      middlewares:
        - "whoami-host-rewrite@file"
      rule: 'Host(`whoami-home.{{ env "BASE_DOMAIN" }}`)'
      service: home
      tls:
        certResolver: cloudflare
    immich-home:
      middlewares:
        - "immich-host-rewrite@file"
      rule: 'Host(`immich.{{ env "BASE_DOMAIN" }}`)'
      service: home
      tls:
        certResolver: cloudflare
    proxmox-home:
      middlewares:
        - "proxmox-host-rewrite@file"
      service: home
      rule: 'Host(`px-home.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    qbittorrent-home:
      middlewares:
        - "qbittorrent-host-rewrite@file"
      service: home
      rule: 'Host(`qbittorrent.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    speedtest-home:
      middlewares:
        - "speedtest-host-rewrite@file"
      service: home
      rule: 'Host(`speedtest.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    jellyfin-home:
      service: home
      rule: 'Host(`jellyfin.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    fb-home:
      middlewares:
        - "filebrowser-host-rewrite@file"
      service: home
      rule: 'Host(`fb-home.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    excalidraw:
      middlewares:
        - "excalidraw-host-rewrite@file"
      service: home
      rule: 'Host(`excalidraw.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
    audiobookshelf:
      middlewares:
        - "audiobookshelf-host-rewrite@file"
      service: home
      rule: 'Host(`audiobookshelf.{{ env "BASE_DOMAIN" }}`)'
      tls:
        certResolver: cloudflare
