apiVersion: 1

datasources:
- uid: prometheus
  name: Prometheus
  type: prometheus
  url: http://prometheus:9090 
  isDefault: true
  access: proxy
  editable: true

- uid: loki
  name: Loki
  type: loki
  url: http://loki:3100
  access: proxy
  editable: true
  jsonData:
    maxLines: 1000
