- name: Make sure destination dir exists
  become: true
  ansible.builtin.file:
    path: "{{ item.path | dirname }}"
    state: directory
    mode: "700"

- name: Write secret file to target host
  become: true
  ansible.builtin.copy:
    dest: "{{ item.path }}"
    content: |
      {% if (item.base64 | default(False)) %}
      {{ lookup('bitwarden.secrets.lookup', item['secret']) | b64decode }}
      {% else %}
      {{ lookup('bitwarden.secrets.lookup', item['secret']) }}
      {% endif %}
    mode: "{{ item.mode | default('600') }}"
