name: Weekly host maintenance

on:
  schedule:
    - cron: "0 5 * * 2" # At 05:00, only on Tuesday
  workflow_dispatch: {}

jobs:
  deploy:
    name: Weekly host maintenance
    runs-on: ubuntu-latest
    concurrency:
      group: host_management

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Prepare control node
        run: |
          ansible-playbook ansible/playbooks/prepare_control_node.yml

      # Create the inventory.yml file dynamically from the VPS_HOST secret
      - name: Create inventory file
        run: |
          echo "all:" > inventory.yml
          echo "  hosts:" >> inventory.yml
          echo "    vps:" >> inventory.yml
          echo "      ansible_user: ubuntu" >> inventory.yml
          echo "      ansible_host: ${{ secrets.VPS_HOST }}" >> inventory.yml
        shell: bash

      - name: ⬇️ Get Secrets from Bitwarden
        uses: bitwarden/sm-action@v2
        with:
          access_token: ${{ secrets.BWS_ACCESS_TOKEN }}
          secrets: |
            38c9a270-f749-436d-bdff-b39000d8fd77 > ANSIBLE_SSH_KEY

      # Load the SSH private key into the ssh-agent
      - name: Load SSH Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ env.ANSIBLE_SSH_KEY }}

      # Run the Ansible playbook
      - name: Run Ansible Playbook
        env:
          BWS_ACCESS_TOKEN: ${{ secrets.BWS_ACCESS_TOKEN }}
          ANSIBLE_CONFIG: ansible/ansible.cfg
        run: |
          echo "Running all playbooks in ansible/playbooks/weekly..."
          for playbook in ansible/playbooks/weekly/*.yml; do
            echo "Running $playbook..."
            ansible-playbook -i inventory.yml "$playbook"
          done

      - name: Remove inventory file
        run: rm inventory.yml
        shell: bash
